html {
    color-scheme: dark;
}

body {
    font-family: $font-family-lato;
    background: $color-bg;
    color: $color-text;
    font-weight: 700;

    &::-webkit-scrollbar {
        display: none;
    }
}

.d-wrap {
    min-height: 100svh;
    min-width: 360px;
    overflow-x: hidden;
}

.outer-bg {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;

    @include up($bp-tablet) {
        max-width: calc(1088px + 30px * 2);
        padding: 0 30px;
    }
}

.color-pink {
    color: $color-accent-pink;
}

.color-yellow {
    color: $color-accent-yellow;
}

h2 {
    font-size: 18px;

    font-weight: 900;

    @include up($bp-mobile) {
        font-size: 24px;
    }

    @include up($bp-tablet) {
        font-size: 32px;
    }
}
